.login {
     width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: end;
    gap: 25rem;
    overflow: hidden;

}

.login__painel {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--clr-secondary);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    border-radius: 0.75rem;

    padding: 3rem 2rem;
    margin-top: 3rem;
}

.login__title {
    font-size: var(--size-5xl);
}

.login__description {
    font-size: var(--size-2xl);
}

.login__box-title2 {
    width: 100%;
    text-align: center;
}

.login__title2 {
    font-size: var(--size-4xl);

    letter-spacing: 0.1rem;
    
}

.login__box-input {
    width: 100%;
}

.login__input {
    width: 100%;
    font-size: var(--size-base);
    background-color: var(--clr-light);
    color: #000;
    padding: 0.75rem;
    outline: 0;
    border-radius: 0.5rem;
}

.login__input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.login__box-remember {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#remember {
    accent-color: var(--clr-primary);
}

.login__box-forgot:hover, .login__register-link a:hover{
    color: var(--clr-primary);
}

.login__box-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-inline: auto;
}

.login__btn {
    width: 80%;
    margin-inline: auto;
    font-size: var(--size-lg);
    transition: all 0.3s ease;
}

.login__btn:hover {
    background-color: var(--clr-light80);
    transform: translateY(-5px);
}

.login__register {
    width: 100%;
    text-align: center;
}

.login__register-link:hover {
    color: var(--clr-primary);
}

.content__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 10rem;
}

.content__box-title {
    font-size: var(--size-4xl);
    color: var(--clr-primary);
    letter-spacing: rem;
}

.content__box-img {
    position: relative;
    width: 85%;
    height: 85%;
    animation: float 4s ease-in-out 0s infinite;
    perspective: 1000px;
   
}

.content__img {  
    width: 100%;
    height: 100%;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
    
     margin-bottom: 3rem;
     object-fit: cover;
     transform-style: preserve-3d;
     transition: all 0.5s ease;
}

.content__img.slipLeft {
  transform: translateX(150%);
}

.content__img.slipLeft:hover {
  transform: translateX(150%) scale(1.1);
}

.content__img:hover {
    transform: rotateX(10deg) rotateY(10deg) scale(1.05);
    filter: drop-shadow(20px 20px 40px rgba(0, 0, 0, 0.3));
   
}

.content__back {
    position: absolute;
    border-radius: 1rem;
    padding: 2rem;
    top: 25px;
    left: 60px;
    background-color: var(--clr-primary);
    text-align: center;
}

.content__back-title {
    margin-bottom: 1rem;
    font-size: var(--size-5xl);
    letter-spacing: 0.1rem;
}

.content__back-description {
    font-size: var(--size-lg);
    margin: 0 auto 2rem;
    line-height: 1.5rem;
    width: 30ch;
}

.content__back-btn {
    padding: 1rem 5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--clr-secondary);
    font-size: var(--size-lg);
    font-weight: 900;
    color: var(--clr-light);
    background-color: transparent;

    transition: all 0.5s ease;
}

.content__back-btn:hover {
    transform: scale(1.05);
    background-color: var(--clr-secondary);
    color: var(--clr-primary);

  
}

.strong__dolt {
    color: var(--clr-secondary);
}

.contact__box-icon {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.25rem;
}

.contact__box-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--clr-dark80);
    border-radius: 50%;
    cursor: pointer;

    transition: all 0.5s ease;
}

.contact__box-icon:hover {
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
    transform: scale(1.05);
}